body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/resto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1px;
    height: 140vh;
}

.container {
    width: 500px;
    border: 1px solid #120101;
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(10px);
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card {
    width: 400px;
    background-color: transparent; /* Ensure card background is transparent */
}

